@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


.mainfrm {
	width:500px;
	padding:20px;
}
.frmLabel {
	width:150px;
	float:left;
}
.frmField {
	width:250px;
	float:left;
}
.slt-box {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	margin-bottom: 20px;
	background: #fff;
	float:left;
}
.rgfrm td {
	vertical-align:middle !important;
	padding-bottom:5px;
}
.rgfrm input, .rgfrm select {
	margin-bottom:0px !important;
}
.AdmfrmLabel {
	width:150px !important;
	float:left;
	height:33px;
}
.AdmfrmFld {
	float:left;
	height:33px;
}
.AdmFrmList {
	width:140px;
}
#PropertyMainDiv {
	padding:5px;
	float:left;
	width: auto !important;
}
#PropertyMainDiv h1 {
	font-size: 30px;
}
.SpacerDiv {
	height:10px;
	clear:both;
}
#ProDescription {
background: #F7F7F7;
margin: 12px 2px;
border-radius: 3px;
zoom: 1;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
background-color: #F7F7F7;
margin-bottom: 30px;
padding: 11px;
position: relative;
width: 94%;
}
.heading {
	margin: 0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 0px;
font-size: 26px;
border-bottom: dashed 1px #ccc;
margin-bottom: 13px;
}
.ProSpecs {
	font-size: 16px;
	line-height: 20px;
}
.SpecLabel {
	width:250px;
	float:left;
	line-height: 20px;
}
.SpecInfo {
	width:300px;
	float:left;
	line-height: 20px;
}
.ProPhotos {
	width:600px;
}
#frmInquiry {
}
#frmInquiry input {
	background-color: #FFF;
	width: 250px;
	border: 1px solid #000;
}
#frmInquiry textarea {
	background-color: #FFF;
	width: 250px;
	height:100px;
	border: 1px solid #000;
}
#frmInquiry input[type="submit"] {
	background-color: #FFF;
	width: 100px;
	border: 1px solid #000;
	color:#000;
}
#divAgent {
}
#address {
	font-size: 12px;
	color: #666;
}
#PropertyQuickView {
	border: 1px solid #666;
}
#PropertyQuickView .QVImage {
	float:left;
	padding:20px;
	
}
#PropertyQuickView .QVProInfo {
	float:left;
	padding:5px;
	line-height: 20px;
}
.h2typelist {
	margin:3px !important;
}
.admnotes {
	font-size:12px;
	color: #660;
}
	.prlinfo {float: left;
padding: 15px 15px 15px 13px;
	}

.prlinfo h2 { margin:0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 26px;}

.prlinfo h3 { margin: 0;
font-family: open_sansitalic;
font-weight: normal;
padding-bottom: 10px;
font-size: 21px;
color: black;}

.prlviewbtn {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #56BAD9), color-stop(1, #3197B6) );
background-image: -o-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -moz-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -webkit-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -ms-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: linear-gradient(to bottom, #56BAD9 0%, #3197B6 100%);
padding: 6px 12px;
font-family: open_sansregular;
font-weight: normal;
color: white;
display: block;
width: 84px;
font-size: 15px;
border-radius: 3px;
text-decoration:none;
}

.prlviewbtn:hover{ color:white;}
.prlinfo h2 a{ text-decoration:none;}
	
	
	.prlimage{width: 140px;
margin-right: 7px;
float: left;
}

	.Propertylstview {background: #F7F7F7;
margin: 12px 12px;
border-radius: 3px;
zoom: 1;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
background-color: #F7F7F7;
margin-bottom: 30px;
padding: 0px;
position: relative;}

.prlinfobath {background: url(../images/bath.png) no-repeat;
padding-left: 18px;}
	.prlinfobed { background: url(../images/bed.png) no-repeat 0 2px;
padding-left: 24px;}
	.prlinfo ul { list-style:none;margin-left: 0;}
		.prlinfo ul li{ list-style: none;
font-size: 12px;
float: left;
margin-right: 13px;}

@media (min-width: 768px) and (max-width: 979px) {
	#ProDescription { width:100%;}
			.SpecLabel {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansbold;
font-size: 14px;
color: #252525;
border-bottom: solid 1px #EBEBEB;
}

.SpecInfo {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansregular;
font-size: 14px;
border-bottom: solid 1px #EBEBEB;
}

	.prlinfobath {background: url(../images/bath.png) no-repeat;
padding-left: 18px;}
	.prlinfobed { background: url(../images/bed.png) no-repeat 0 2px;
padding-left: 24px;}
	.prlinfo ul { list-style:none;margin-left: 0;}
		.prlinfo ul li{ list-style: none;
font-size: 12px;
float: left;
margin-right: 13px;}
	.prlinfo {float: left;
padding: 15px 15px 15px 13px;
	}

.prlinfo h2 { margin:0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 26px;}

.prlinfo h3 {margin: 0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 17px;
color: black;}

.prlviewbtn {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #56BAD9), color-stop(1, #3197B6) );
background-image: -o-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -moz-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -webkit-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -ms-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: linear-gradient(to bottom, #56BAD9 0%, #3197B6 100%);
padding: 6px 12px;
font-family: open_sansregular;
font-weight: normal;
color: white;
display: block;
width: 91px;
font-size: 15px;
border-radius: 3px;
text-decoration: none;
text-align: center;
}

.prlviewbtn:hover{ color:white;}
.prlinfo h2 a{ text-decoration:none;}
	
	
	.prlimage{width: 140px;
margin-right: 7px;
float: left;
}

	.Propertylstview {background: #F7F7F7;
margin: 12px 12px;
border-radius: 3px;
zoom: 1;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
background-color: #F7F7F7;
margin-bottom: 30px;
padding: 0px;
position: relative;}
.ProPhotos {
width: 600px;
}
}

@media (max-width: 767px) {
		#ProDescription { width:94%;}
				.SpecLabel {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansbold;
font-size: 14px;
color: #252525;
border-bottom: solid 1px #EBEBEB;
}

.SpecInfo {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansregular;
font-size: 14px;
border-bottom: solid 1px #EBEBEB;
}
	
	.prlinfobath {background: url(../images/bath.png) no-repeat;
padding-left: 18px;}
	.prlinfobed { background: url(../images/bed.png) no-repeat 0 2px;
padding-left: 24px;}
	.prlinfo ul { list-style:none;margin-left: 0;}
		.prlinfo ul li{ list-style: none;
font-size: 12px;
float: left;
margin-right: 13px;}
		.prlinfo {float: left;
padding: 15px 15px 15px 13px;
	}

.prlinfo h2 { margin:0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 26px;}

.prlinfo h3 {margin: 0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 17px;
color: black;}

.prlviewbtn {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #56BAD9), color-stop(1, #3197B6) );
background-image: -o-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -moz-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -webkit-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -ms-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: linear-gradient(to bottom, #56BAD9 0%, #3197B6 100%);
padding: 6px 12px;
font-family: open_sansregular;
font-weight: normal;
color: white;
display: block;
width: 90px;
font-size: 15px;
border-radius: 3px;
text-decoration: none;
text-align: center;
}

.prlviewbtn:hover{ color:white;}
.prlinfo h2 a{ text-decoration:none;}
	
	
	.prlimage{width: 209px;
margin-right: 7px;
float: left;
}

.prlimage img{ width:100%;}

	.Propertylstview {background: #F7F7F7;
margin: 12px 12px;
border-radius: 3px;
zoom: 1;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
background-color: #F7F7F7;
margin-bottom: 30px;
padding: 0px;
position: relative;}
.ProPhotos {
width: 600px;
}
}

@media (min-width: 1200px) {
		#ProDescription { width:100%;}
				.SpecLabel {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansbold;
font-size: 14px;
color: #252525;
border-bottom: solid 1px #EBEBEB;
}

.SpecInfo {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansregular;
font-size: 14px;
border-bottom: solid 1px #EBEBEB;
}
	.prlinfobath {background: url(../images/bath.png) no-repeat;
padding-left: 18px;}
	.prlinfobed { background: url(../images/bed.png) no-repeat 0 2px;
padding-left: 24px;}
	.prlinfo ul { list-style:none;margin-left: 0;}
		.prlinfo ul li{ list-style: none;
font-size: 12px;
float: left;
margin-right: 13px;}
	.prlinfo {float: left;
padding: 15px 15px 15px 13px;
	}

.prlinfo h2 { margin:0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 26px;}

.prlinfo h3 { margin: 0;
font-family: open_sansitalic;
font-weight: normal;
padding-bottom: 10px;
font-size: 21px;
color: black;}

.prlviewbtn {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #56BAD9), color-stop(1, #3197B6) );
background-image: -o-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -moz-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -webkit-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -ms-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: linear-gradient(to bottom, #56BAD9 0%, #3197B6 100%);
padding: 6px 12px;
font-family: open_sansregular;
font-weight: normal;
color: white;
display: block;
width: 84px;
font-size: 15px;
border-radius: 3px;
text-decoration:none;
}

.prlviewbtn:hover{ color:white;}
.prlinfo h2 a{ text-decoration:none;}
	
	
	.prlimage{width: 140px;
margin-right: 7px;
float: left;
}

	.Propertylstview {background: #F7F7F7;
margin: 12px 12px;
border-radius: 3px;
zoom: 1;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
background-color: #F7F7F7;
margin-bottom: 30px;
padding: 0px;
position: relative;}
.ProPhotos {
width: 600px;
}
	
}

@media (max-width: 480px) {
		#ProDescription { width:92%;}
				.SpecLabel {
width: 43%;
float: left;
line-height: 25px;
font-family: open_sansbold;
font-size: 14px;
color: #252525;
border-bottom: solid 0px #EBEBEB;
}

.SpecInfo {
width: 56%;
float: left;
line-height: 25px;
font-family: open_sansregular;
font-size: 14px;
border-bottom: solid 0px #EBEBEB;
}
	.prlinfobath {background: url(../images/bath.png) no-repeat;
padding-left: 18px;}
	.prlinfobed { background: url(../images/bed.png) no-repeat 0 2px;
padding-left: 24px;}
	.prlinfo ul { list-style:none;margin-left: 0;}
		.prlinfo ul li{ list-style: none;
font-size: 12px;
float: left;
margin-right: 13px;}
	.prlinfo {float: left;
padding: 15px 15px 15px 13px;
width: 92%;
	}

.prlinfo h2 { margin:0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 26px;}

.prlinfo h3 {margin: 0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 17px;
color: black;}

.prlviewbtn {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #56BAD9), color-stop(1, #3197B6) );
background-image: -o-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -moz-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -webkit-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -ms-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: linear-gradient(to bottom, #56BAD9 0%, #3197B6 100%);
padding: 6px 12px;
font-family: open_sansregular;
font-weight: normal;
color: white;
display: block;
width: 105px;
font-size: 15px;
border-radius: 3px;
text-decoration:none;
margin: 0 auto;
text-align: center;
}

.prlviewbtn:hover{ color:white;}
.prlinfo h2 a{ text-decoration:none;}
	
	
	.prlimage{width: 100%;
margin-right: 7px;
float: left;
}
.prlimage img{ width:100%;}

	.Propertylstview {background: #F7F7F7;
margin: 12px 12px;
border-radius: 3px;
zoom: 1;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
background-color: #F7F7F7;
margin-bottom: 30px;
padding: 0px;
position: relative;}

.ProPhotos {
width: 100%;
margin-left: 0;
}
}

@media (min-width: 980px) {
		#ProDescription { width:93%;}
		.SpecLabel {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansbold;
font-size: 14px;
color: #252525;
border-bottom: solid 1px #EBEBEB;
}

.SpecInfo {
width: 50%;
float: left;
line-height: 25px;
font-family: open_sansregular;
font-size: 14px;
border-bottom: solid 1px #EBEBEB;
}
	.ProPhotos {
width: 600px;
}
	.prlinfobath {background: url(../images/bath.png) no-repeat;
padding-left: 18px;}
	.prlinfobed { background: url(../images/bed.png) no-repeat 0 2px;
padding-left: 24px;}
	.prlinfo ul { list-style:none;margin-left: 0;}
		.prlinfo ul li{ list-style: none;
font-size: 12px;
float: left;
margin-right: 13px;}
	
	.prlinfo {float: left;
padding: 15px 15px 15px 13px;
	}

.prlinfo h2 { margin:0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 26px;}

.prlinfo h3 {margin: 0;
font-family: open_sansregular;
font-weight: normal;
padding-bottom: 10px;
font-size: 17px;
color: black;}

.prlviewbtn {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #56BAD9), color-stop(1, #3197B6) );
background-image: -o-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -moz-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -webkit-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: -ms-linear-gradient(bottom, #56BAD9 0%, #3197B6 100%);
background-image: linear-gradient(to bottom, #56BAD9 0%, #3197B6 100%);
padding: 6px 12px;
font-family: open_sansregular;
font-weight: normal;
color: white;
display: block;
width: 100px;
font-size: 15px;
border-radius: 3px;
text-decoration: none;
text-align: center;
}

.prlviewbtn:hover{ color:white;opacity: 0.5;}
.prlinfo h2 a{ text-decoration:none;}
	
	
	.prlimage{width: 140px;
margin-right: 7px;
float: left;
}

.prlimage:hover {opacity: 0.5;}

	.Propertylstview {background: #F7F7F7;
margin: 12px 12px;
border-radius: 3px;
zoom: 1;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
background-color: #F7F7F7;
margin-bottom: 30px;
padding: 0px;
position: relative;}
	
}

